In [13]:
import pandas as pd
df = pd.read_csv("heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [14]:
target = df.target 
inputs = df.drop('target', axis = 'columns')

In [15]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [16]:
#split the dataset
from sklearn.model_selection import train_test_split
X_train , X_test , y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [17]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [18]:
model.fit(X_train,y_train)

GaussianNB()

In [19]:
model.score(X_test,y_test)

0.8524590163934426

In [20]:
X_test[:10]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
191,58,1,0,128,216,0,0,131,1,2.2,1,3,3
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3
192,54,1,0,120,188,0,1,113,0,1.4,1,1,3
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0
43,53,0,0,130,264,0,0,143,0,0.4,1,0,2
109,50,0,0,110,254,0,0,159,0,0.0,2,0,2
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [21]:
y_test[:10]

191    0
153    1
20     1
180    0
192    0
48     1
43     1
109    1
38     1
252    0
Name: target, dtype: int64

In [22]:
model.predict(X_test[:10])

array([0, 1, 0, 0, 0, 0, 1, 1, 1, 0])